src/.ipynb_checkpoints/*
src/Words-Preprocessing/.ipynb_checkpoints/*
src/input/.ipynb_checkpoints/*

# Ignore virtual environments
venv/
.env/
env/
__pycache__/

# Ignore system / IDE junk
*.pyc
.DS_Store

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# (Optional) ignore VS Code settings if you want
.vscode/
